body,html{
    height: 100%; /* Do we want to include a sticky footer? */
    margin: 0; 
    padding: 0;
}

html{
    overflow-y: scroll; /* should prevent layout reposition on different pages based on presence of scrollbar */
}

.wrapper{
    height: inherit;
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
    display: block;
}

/******************/
/* MOBILE STYLES */
/*****************/

/* HEADER AND MENU STYLES */

.menuContain{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

header{
    top: 0;
    width: 100%;
    background: #222;
    height: 80px;
    border-bottom: 3px solid #1A6A78;
    position: relative;
    z-index: 10;
}

.logo{
    padding: 7px 0;
    height: 65px;
	display:block;
	margin:0 auto;
	float:none;
}

/* MENU STYLES */
.menuIcon {
	display:block;
	position:absolute;
	top:15px;
	left:15px;
	height:50px;
	z-index:101;
}

#mobileMenu{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	height:100%;
	width:100%;
	margin:0 auto;
	background: #222;
	padding-top:110px;
}

.mobileMenuShow{ /*shows mobile menu*/
	display:block !important;
}

.noScroll{ /*prevents scrolling while in mobile menu*/
	overflow:hidden;
}

#mobileMenu>a{
	display:inline-block;
	width:100%;
	color:white;
	margin-left:20px;
	margin-bottom:10px;
	font-size:2em;
}

#mobileMenu>ul{
	display:block;
	color:white;
}

#menu {
    display: none;
}

/*END MENU*/

/*.menuIconcontain{
    display: block;}

.menuIcon{
    width: 60px;
    height: 30px;
    position: relative;
    margin: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; 
    cursor: pointer;  
}

.menuIconhmbg{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #1A6A78;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menuIconhmbg:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menuIconhmbg:nth-child(2) {
    top: 18px;
}

.menuIconhmbg:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menuIcon.open .menuIconhmbg:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.menuIcon.open .menuIconhmbg:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menuIcon.open .menuIconhmbg:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}*/


/* MAIN VISUAL */
#mainIMG{
    height: 400px;
}

/* MAIN CONTENT */
.mainContent{
    width: 100%;
    margin: 0 auto;
}

.column{
    width: calc(100% - 40px);
    max-width: 750px;
    padding: 20px;
}

.sectionTitle{
    font-size: 2.5em;
    margin: 3% auto;
    text-align: center;
}

.teamPage>.left, .teamPage>.right{
	float:none;
	width:100%;
}


/* GALLERY */
#gallery{
    width:100%;
    margin:0 auto;
}

.gallery-item{
    float:left;
    width:48%;
    margin:0px 1% 10px 1%;
	position:relative;
	padding:0px;
}

.gallery-item>img{
    width:100%;
    margin: 0 auto;
}

.hover-cover{
	display:none;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:0.8em;
	height:auto;
	color:white;
	background: rgba(59,59,59,0.55);
}
/* END GALLERY */

/* INDIVIDUAL TEAM PAGES STYLES */

.teamGallery{
    width: 100%;
    margin: 0 auto;
}

.teamWrapper{        
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    margin: 20px auto;
}

  .teamMember{
        width: calc(100% - 40px);
        height: 0;
        padding-bottom: calc(95% - 40px);
        position: relative;
        margin: 10px 10px;
        transition: .2s ease-out;
}

    .teamPhotos{
        margin: 0 auto;
        background-color: #222;
        height: 0;
        width: 80%;
        padding-bottom: 85%;
        border-radius: 50%;
        
    }

    #firstImg{
        background-image: url(https://static.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #fifthImg{
        background-image: url(http://en.bcdn.biz/Images/2016/7/11/c86de5a5-2107-4382-a98c-184ebf681497.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .teamMemberBtn{
        position: relative;
        top: 1em;
        width: 100%;
        height: 25px;
        background-color: #E7E1D8;
        cursor: pointer;
        text-align: center;
        border: none;
    }

    .teamMember:hover .teamMemberBtn, .teamMemberBtn.active {
        background-color: black;
        color: white;
    }

    .teamMemberBtn:after{
        content: '\25BC';
        float: right;
        margin-right: 5px;
        font-weight: bold;
    }

    .teamMemberBtn.active:after{
        content: '\25B2';
    }

    .teamMemberDesc{
        overflow: hidden;
        max-height: 0;
        text-align: left;
        background-color: white;
        transition: max-height 0.2s ease-out;
        padding: 0 18px;
    }

/******************/
/* DESKTOP STYLES */
/*****************/

/* MENU STYLES */ 
@media only screen and (min-width: 701px){

.logo{
	float:left;
}
	
#menu {
    display: block;
}
    
.menuIconContain{
    display: none;
}
	
nav>.menuIcon, #mobileMenu {
	display:none;
}

#teams, #menu{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li a, .sub-active{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 31px 16px;
    color: darkgray;
}

li.active a{
    background-color: #1A6A78;
    color: white;
}

li.active a:hover{
    background-color: #1A6A78;
    color: darkgray;
}

li a:hover, .sub:hover .sub-active{
    background-color: #444;
    color: white;	
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
    transition: all 0.5s ease;
}

.sub.active:hover .sub-active{
    background-color: #1A6A78;
    color: darkgray;
}
    
.sub.active:hover .subMenu a{
    background-color: #f5f5f5;
    color: darkgray;
}
    
.sub.active:hover .subMenu a:hover{
    background-color: #444;
    color: white;
}

.subMenu{
    display: none;
    border-top: 3px solid #1A6A78;
    position: absolute;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

.subMenu a{
    padding: 12px 10px;
    display: block;
    text-align: left;
}

.sub:hover .subMenu{
    display: block;
}
    
/* MAIN VISUAL */
    
#mainIMG{
    height: 90%;
}
    
/* MAIN CONTENT */

.mainContent{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.column{
    width: calc(50% - 40px);
    max-width: 100%;
    padding: 20px;
}
    

/* TEAMS PAGE */
#teams>li{
	float:left;
	list-style: none;
	margin:0px 10px 0px 0px;
}

/* GALLERY */
#gallery{
	width:80%;
	margin:0 auto;
}

.gallery-item{
	float:left;
	width:30%;
	margin:0px 1.66% 20px 1.66%;
}

.gallery-item>img{
	width:100%;
	margin: 0 auto;
}
/* END GALLERY */

    /* END INDIVIDUAL TEAM PAGES */
    
    /* INDIVIDUAL TEAM GALLERIES */
    
/******END TEAMS PAGE******/
	
/******PARTNERS******/
    
.partner_section {
	width:40%;
	height:100%;
	float:left;
	margin:0px 5% 0px 5%;
}

.partner_section>img{
	width:50%;
	display:block;
	margin:20px auto;
}
    
/******END PARTNERS******/

}


@media only screen and (min-width: 1000px){
/*HEADER*/
.logo{
	float:left;
}
	
#menu {
	display: block;
}

nav>.menuIcon, #mobileMenu {
	display:none;
}
	
        /*INDIVIDUAL TEAM PAGES*/
    .teamWrapper{        
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
    }
    
    .teamMember{
        width: calc(50% - 40px);
        height: 0;
        padding-bottom: calc(51% - 40px);
        position: relative;
        margin: 10px 10px;    }

    .teamPhotos{
        margin: 0 auto;
        background-color: #222;
        height: 0;
        width: 90%;
        padding-bottom: 86%;
        border-radius: 50%;
    }

    #firstImg{
        background-image: url(https://static.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    /* END INDIVIDUAL TEAM PAGES */
    
}


@media only screen and (min-width: 1400px){
/*HEADER*/
.logo{
	float:left;
}
	
/*MENU*/	
#menu {
    display: block;
}
	
nav>.menuIcon, #mobileMenu {
	display:none;
}
	
    /* INDIVIDUAL TEAM PAGE STYLES */
    
    .teamMember{
        width: calc(33% - 20px);
        height: 0;
        padding-bottom: calc(39% - 20px);
        margin: 0 10px;    
    }

    .teamPhotos{
        margin: 0px auto;
        margin-top: 5px;
        background-color: #222;
        height: 0;
        width: 100%;
        padding-bottom: 102%;
        border-radius: 50%;
    }

    /* END INDIVIDUAL TEAM PAGES */
    
    /* INDIVIDUAL TEAM GALLERIES */
    
}
